---
name: Run Gradle PR
on: [pull_request]

jobs:
  gradle:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Gradle build
        uses: gradle/gradle-build-action@v3
        with:
          arguments: build -x iosX64Test
