---
name: Run Gradle Push
on:
  release:
    types: [released]

jobs:
  gradle:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Gradle build
        uses: gradle/gradle-build-action@v3
        with:
          arguments: build -x iosX64Test -x jsBrowserTest

      - name: Publish to MavenCentral
        uses: gradle/gradle-build-action@v3
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        with:
          arguments: publish --max-workers 1 -Prelease=true
